<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930272647799-e40u98o26fkguck0td2falaghgnajk10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930272647799-e40u98o26fkguck0td2falaghgnajk10</string>
	<key>API_KEY</key>
	<string>AIzaSyCOqAmx4J3F5Ko_XDHXdmeYOKxJnuqUFEA</string>
	<key>GCM_SENDER_ID</key>
	<string>930272647799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.arttrader</string>
	<key>PROJECT_ID</key>
	<string>arttrader-d69bb</string>
	<key>STORAGE_BUCKET</key>
	<string>arttrader-d69bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930272647799:ios:745250b66649dc9393c472</string>
</dict>
</plist>